<%- include("./header.ejs") %>

  <main class="container">
    <div class="row p-4">
      <!-- Example Post Card -->
      <% if(typeof data !== "undefined"){%>
        <% data.forEach((res)=>{%>
      <div class="col-12 pb-4">
        <div class="card">
          <div class="card-body d-flex justify-content-between flex-column">
            <h3 class="card-title"><%= res.title%></h3>
            <span class="card-date">posted by <%= res.userName %></span>
            <p class="card-text"><%= res.description%></p>
            <span class="card-date">posted on <%= res.date %></span><br>
            <div class="d-flex mt-3 mr-4 icons">
              <div class="d-flex mt-3 mr-4 align-items-center icons">
                <a href="/user/readMore/<%= res._id %>" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%})}%>

      <!-- You can add more post cards dynamically through the backend -->
    </div>

  
  </main>
 

  <%- include("./footer.ejs") %>
